.admin__header{
    width: 100%;
    height: 60px;
    background-color: #2e2e2e;
    display: flex;
    align-items: stretch;
}
.wrapper{
    width: 1140px;
    margin: 0 auto;
}
.admin__header_cont{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}
.logo > a{
    width: 100%;
    display: block;
}
.admin__header_title-name{
    color: #ffffff;
    padding: 0;
    text-transform: uppercase;
    font-size: 30px;
}

.main{
    width: 100%;
    display: flex;

}
.sidebar-admin{
    width: 250px;
    min-height: 100vh;
    background-color: #2e2e2e;
}
.admin__item,
.admin__item_title{
    display: block;
    width: 100%;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 20px;
}
.admin__item_submenu{
    font-size: 16px;
    margin-left: 15px;
}
.admin__nav_item:hover,
.admin__nav_item:hover .admin__nav_icon,
.admin__nav_item:hover .admin__item_title,
.admin__item:hover{
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
}
.admin__section{
    width: calc(100% - 250px);
}
.admin__table{
    width: 100%;
}
.admin__table_title, .admin__section_item_td {
    padding: 5px;
    border: 1px solid #000000;
}
.admin__header_title-name{
    margin: 0;
}
.admin__section_form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.admin__section_content{
    width: 100%;
    padding: 0 10px;
}
.admin__inp,
.admin__form_btn,
.admin__select,
.product__select_group{
    margin-top: 20px;
}
.admin__section_item_info{
    font-size: 17px;
}
.admin__icon{
    color: #000000;
    font-size: 20px;
    transition: color ease .3s;
    -webkit-transition: color ease .3s;
    -moz-transition: color ease .3s;
    -ms-transition: color ease .3s;
    -o-transition: color ease .3s;
}
.admin__icon:hover{
    color: #ff0000;
}
.admin__img_cont{
    width: 100px;
}
.admin__img{
    width: 100%;
    display: block;
}
.admin__nav_item{
    cursor: pointer;
}
.admin__nav_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}
.admin__nav_header_list{
    height: 0;
    background-color: #202020;
    padding: 0;
    overflow: hidden;
    transition: height ease .5s;
    -webkit-transition: height ease .5s;
    -moz-transition: height ease .5s;
    -ms-transition: height ease .5s;
    -o-transition: height ease .5s;
}
.admin__nav_icon{
    color: #ffffff;
    font-size: 20px;
    transition: transform ease .5s;
    -webkit-transition: transform ease .5s;
    -moz-transition: transform ease .5s;
    -ms-transition: transform ease .5s;
    -o-transition: transform ease .5s;
}
.more__info_group{
    display: flex;
}
.admin__inps_with_plus,
.admin__imgs_with_plus{
    width: 100%;
    margin-left: 10px;
}
.admin__inp_with_plus{
    margin: 0;
    margin-top: 5px;
}
.admin__inp_with_plus:first-child{
    margin-top: 0;
}
.more__info_group_plus{
    font-size: 25px;
    cursor: pointer;
}
.select__info{
    margin-bottom: 10px;
    display: inline-block;
}
.more__info_group_img{
    width: 100px;
    margin-left: 10px;
}
.more__info_group_img:first-child{
    margin: 0;
}
.more__info_times{
    color: gray;
}
.more__info_group_btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}